@import './abstracts/index';

.menu-page {
    position: relative;
    width: 23.4375rem;
    height: auto;
    margin:  auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: $bg-primary;
}