@keyframes smoothPulsing {
    0%, 100% {
      transform: scale(1);
      border: 1.5rem solid transparent;
    }
    50% {
      transform: scale(1.15);
      border: 1.5rem solid rgba(0, 0, 0, 0.015);
    }
  }