@use '../../sass/abstracts/index' as*;


.status-info {

    @include FlexColumn;

    &__order-number {

        margin: 3.875rem auto auto; 
        width: 17.4375rem; 
        height: 2.3125rem;
        @include ParagraphsFontCustom(1rem, 1.2rem, rgba(255, 255, 255, 0.7));
        @include FlexRow;
        
        .order-number {
            font-weight: 700;
        }
    }

    &__drone-container {

        margin-top: 2.5rem; 
        width: 17.4375rem; 
        
        
        .drone-image {

            width: 100%;
            height: 100%;
    }
        
    }

    &__heading {

        margin-top: 2.5625rem; 
        width: 17.4375rem; 
        height: 7.8125rem; 
        @include HeadersFontCustom(2.25rem, 2.7rem, white);
        @include FlexRow;

       
    }

    &__eta {

        width: 17.4375rem; 
        height: 2.3125rem; 
        @include ParagraphsFontCustom(1.3125rem, 1.575rem, white);
        @include FlexRow;

        .eta {

            @include ParagraphsFontCustom (22px, 26.4px, white);
            font-weight: 700;
            padding-right: 0.5rem;
            
        }
    }

    &__no-status {
        @include FlexColumn;
        padding: 6rem 0;


    
    }
    &__message {
        font-size: 1.3rem;
        font-weight: 700;
        line-height: 3rem;
        text-align: center;
    }
    .action-btn {

        margin: 4.3125rem 0 auto;
        background-color: white ;
        color:rgba(47, 41, 38);
        width: 11.5rem; 
        height: 3.4375rem;

    }
} 



